<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625520618953-u14qtheh6va0u1v7krnfb3bqqmp0h3qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625520618953-u14qtheh6va0u1v7krnfb3bqqmp0h3qq</string>
	<key>API_KEY</key>
	<string>AIzaSyALh1wlOnyyiSFzYK6FL5Y9D0j22T6QPuU</string>
	<key>GCM_SENDER_ID</key>
	<string>625520618953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cjhester.cha3</string>
	<key>PROJECT_ID</key>
	<string>cha3-161bd</string>
	<key>STORAGE_BUCKET</key>
	<string>cha3-161bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625520618953:ios:00d49f76b30faa36774c18</string>
</dict>
</plist>